@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #1D2029;
}

header {
    background-color: hsl(232, 19%, 15%);
    color: #ffffff;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    flex-direction: column;
}

.text-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    margin-top: 20px;
    
}

.button {
    margin-right: 120px;
}

.text {
   margin-left: 120px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.text>p {
    color: hsl(228, 34%, 66%);
}

.circle-container {
    background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    width: 55px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: hsl(232, 19%, 15%);
    transform: translateX(-14px);
    transition-duration: 0.5s;
}

.social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: #1D2029;
    margin-top: 25px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 230px;
    border-top: 4px solid #178FF5;
    border-radius: 5px 5px;
    padding: 15px;
    background-color: #252B43;
}

.img-top {
    display: flex;
    justify-content: center;
    color: hsl(228, 34%, 66%);
    text-align: center;
    gap: 10px;
}

.img-top > p {
    font-weight: 700;
    font-size: 15px;
}

.num {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.followers {
    font-size: 15px;
    text-align: center;
    color: hsl(228, 34%, 66%);
    font-weight: 400;
    letter-spacing: 5px;
}

.up-today {
    text-align: center;
    color: hsl(163, 72%, 41%);
    font-size: 12px;
}

.card-instagram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 230px;
    border-top: 4px solid #E5618D;
    border-radius: 5px 5px;
    padding: 15px;
    background-color: #252B43;
} 

.card-youtube {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 230px;
    border-top: 4px solid hsl(348, 97%, 39%);
    border-radius: 5px 5px;
    padding: 15px;
    background-color: #252B43;
}

.down-today {
    text-align: center;
    color: hsl(348, 97%, 39%);
    font-size: 12px;
}

.overview-top {
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: #1D2029;
    margin-top: 115px;
    align-items: center;
}

.mini-card {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 230px;
    border-radius: 5px 5px;
    background-color: #252B43;
    align-items: center;
    padding: 20px;
}


.up {
    text-align: center;
    color: hsl(163, 72%, 41%);
    font-size: 12px;
    margin-top: 40px;
}
 
.right {
    text-align: center;
    justify-content: space-around;
}

.left > p {
    text-align: center;
    color: hsl(228, 34%, 66%);
}

.left > .num-2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}

.down {
    margin-top: 40px;
    color: hsl(348, 97%, 39%);
    font-size: 12px;
}

.overview-down {
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: #1D2029;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.title-2 {
    color: #ffffff;
    position: relative;
    top: 110px;
    left: 115px;
    width: 30%;
    margin: 10px;
}